/* Base styles */
body {
    background-color: var(--vp-c-bg);
    color: var(--vp-c-text-1);
    transition: background-color 0.3s, color 0.3s;
}

canvas {
    border: 1px solid var(--vp-c-border);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(148, 144, 144, 0.568);
    /* 上下间隔 10px*/
    margin: 10px 0;
    background-color: var(--vp-c-bg);
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* auto y */
    overflow-y: auto;
    background-color: rgba(124, 111, 111, 0.337);
    /* 居中放置子元素 */
    position: relative;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}
